



body{
   
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
    padding: 0;
}
.sec_skip_the_diet{
    width: 80%;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:100px;
    margin-bottom: 0px;
    padding: 2px;
    
}
.dv_skip_the_diet01{
   
    border-radius: 25px;
    margin-right: 10px;
    padding: 30px;
    
}
.dv_skip_the_diet02{
    background-color: rgb(26, 22, 22);
    padding: 5px;
    
}

.spn__skip_the_diet{
    color: coral;
}

.link_skip_the_diet{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 25px;
    text-decoration: none;
    color: rgb(225, 245, 225);
    font-weight: 800px;
    display: inline-block;
}
.img_dv_img1_skip_the_diet{
  width: 50%;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}
.sec_about_me{
   background-image: url(./img/shapes/7.png);
    width: 80%;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 2p0px;
}

.img_dv_about_me{
    width: 50%;
    border-radius: 4px;
    padding: 30px;
    width: 250px;
}
.dv_contnt_about_me{
    padding: 30px; 
}
.h1_dv_contnt_about_me{
    margin-top: 20px;
    padding: 10px;
   }
   .sec_my_recipies{
    width: 80%;
    
    margin-left: 100px;
    margin-right: 100px;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 2p0px;
   }
 .dv_my_recpis_cntnt_prt{
    width: 60%;
    text-align: center;
    display: inline-block;
    margin-left: 178px;
    border-radius: 55px;
    padding: -3px;
   

 }
.dv_recipis_title{
    display: flex;
    padding: 20px;
}
.title{
   width: 50%;
   border-radius: 20px;
   padding: 5px;
   margin: 10px;
   box-shadow: 12px 5px 20px -1px;
}
.img_food{
    width: 50%;
    border-radius: 24px;
    margin-left: 40px;
    padding: 5px;
    width: 200px;
   } 
   .sec_number_scroll{
    width: 80%;
    background-color: rgb(245, 229, 229);
    display: flex;
    margin-left: 104px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 16px 17px 33px -8px;

   }
   
   .number_scrol{
       margin: 10px;
       margin-left: 100px;
   }
.sec_our_team{
    background-color: rgb(238, 212, 212);
    width: 82%;
    margin-left: 102px;
    box-shadow: 16px 17px 33px -8px;
    margin-bottom: 100px;
    border-radius: 10px;
    padding: 5px;
}
   .dv_sec_our_team01{
    width: 80%;
    text-align: center;
    margin-left: 115px;
    border-radius: 10px;
   }

.dv_sec_our_team02{
    display: flex;
    margin-left: 82px;
    padding: 4px;
    
  
}
   .img_our_team{
    width: 50%;
    border-radius: 24px;
    margin: left 10px
    padding: 2px;
    width: 200px;
   }
 
   