



body{
   background-color: #d8ddb5;
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
    padding: 0;
}

.dv_hdr_mnu{
    background-color:#d1ccc0;
    width: 82%;
    height: 50px;
    margin-left: 102px;
    box-shadow: 20px 25px 55px -19px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
}
.dv_hdr_mnu ul{
    display: inline-block;
 
    
}
.dv_hdr_mnu ul li{
    display: inline-block;
    
}
.dv_hdr_mnu ul li:first-child a{
    border-left: 1px solid white;
}
.dv_hdr_mnu ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 1px 9px;
    color: darkkhaki;
    margin-left: 10px;
    color: rgb(12, 10, 10);
    border-right: 1px solid white;
   
    }

.spn_home{
    color: rgb(245, 245, 39);
}
.link_heder{
    background-image: linear-gradient(rgb(255, 0, 64), rgb(100, 247, 107));
    padding: 10px 40px;
    border-radius: 25px;
    text-decoration: none;
    color: rgb(225, 245, 225);
    font-weight: 800px;
    display: inline-block;

}
.sec_skip_the_diet{
    width: 80%;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:5px;
    margin-bottom: 0px;
    padding: 2px;
    
}
.dv_skip_the_diet01{
   
    border-radius: 25px;
    margin-right: 10px;
    padding: 30px;
    
}
.dv_skip_the_diet02{
    background-color: rgb(26, 22, 22);
    padding: 5px;
    
}

.spn__skip_the_diet{
    color: rgb(226, 93, 44);
    font-size: 40;
}

.link_skip_the_diet{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 25px;
    text-decoration: none;
    color: rgb(225, 245, 225);
    font-weight: 800px;
    display: inline-block;
}
.img_dv_img1_skip_the_diet{
  width: 50%;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
}
.sec_about_me{
   background-image: url(./img/shapes/7.png);
    width: 80%;
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 2p0px;
}

.img_dv_about_me{
    width: 50%;
    border-radius: 4px;
    padding: 30px;
    width: 250px;
}
.dv_contnt_about_me{
    padding: 30px; 
}
.h1_dv_contnt_about_me{
    margin-top: 20px;
    padding: 10px;
   }
   .sec_my_recipies{
    width: 80%;
    background-color: #d6e99f;
    margin-left: 100px;
    margin-right: 100px;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 2p0px;
   }
 .dv_my_recpis_cntnt_prt{
    width: 60%;
    text-align: center;
    display: inline-block;
    margin-left: 178px;
    border-radius: 55px;
    padding: -3px;
   

 }
.dv_recipis_title{
    display: flex;
    padding: 20px;
}
.title{
   width: 50%;
   border-radius: 20px;
   padding: 5px;
   margin: 15px;
   box-shadow: 12px 5px 20px -1px;
}
.img_food{
    width: 50%;
    border-radius: 24px;
    margin-left: 40px;
    padding: 5px;
    width: 200px;
   } 
   .sec_number_scroll{
    width: 80%;
    background-color: rgb(175, 169, 169);
    display: flex;
    margin-left: 104px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 16px 17px 33px -8px;

   }
   
   .number_scrol{
       margin: 10px;
       margin-left: 100px;
   }
.sec_our_team{
    background-color: #9b8278;
    width: 82%;
    margin-left: 102px;
    box-shadow: 16px 17px 33px -8px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 1px;
}
   .dv_sec_our_team01{
    width: 80%;
    text-align: center;
    margin-left: 115px;
    border-radius: 10px;
   }

.dv_sec_our_team02{
    display: flex;
    margin-left: 82px;
    padding: 4px;
    
}
   .img_our_team{
    border-radius: 24px;
    width: 200px;
    margin: 10px;
   }
   h4{
       text-align: center;
   }
 .footer{
     background-color: #596275;
     width: 82%;
     height: 150px;
     margin-left: 102px;
     box-shadow: 16px 17px 33px -8px;
     margin-bottom: 100px;
     border-radius: 10px;
     padding: 1px;
 }
 
   .h1_footer{
       color: #f5cd79;
       text-align: center;
       line-height: 1px;
   }